<h2>StatusChange Examples</h2>
<ul>
  <li>
    <a routerLink="templatestatus" routerLinkActive="router-link-active">Template</a>
  </li>
  <li>
    <a routerLink="reactivestatus" routerLinkActive="router-link-active" >Reactive</a></li> 
  </ul>

 <h2>ValueChange Examples</h2>
 <ul>
  <li>
    <a routerLink="templatevalue" routerLinkActive="router-link-active">Template</a>
  </li>
  <li>
    <a routerLink="reactivevalue" routerLinkActive="router-link-active" >Reactive</a>
  </li> 
 </ul>


 <router-outlet></router-outlet>